extends ../layout

block content
  .container
    .col-md-5
      form(action="/user/signin", method="post")
        .modal-body 
          .form-group.row
            label.col-sm-2.col-form-label(for="singInName") 用户名
            div.col-sm-10
              input#singInName.form-control(name="user[name]", type="text")
          .form-group.row
            label.col-sm-2.col-form-label(for="singInPassword") 密码
            div.col-sm-10  
              input#singInPassword.form-control(name="user[password]", type="password")
        .modal-footer
          button.btn.btn-success(type="submit") 提交